<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<script>
  window.parent.postMessage('<%= guid %>', '*');
  window.name = '<%= guid %>';
  localStorage.setItem('guid', '<%= guid %>');
  sessionStorage.setItem('guid', '<%= guid %>');
</script>
</body>
</html>
